.inbox {
  max-width: 1000px;
  margin: 30px auto;
  background: white;
  border-radius: 5px;
  border:  #D1E2FF 2px solid;
}

.divider{
  border: black 3px solid;
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  padding: 10px ; /* Added padding for spacing between items */
}

.item:last-child {
  border-bottom: 0;
}


.box[type="checkbox"] {
  margin-right: 25px;
  font-size: 18px; /* Adjusted margin for checkbox */
}

p {
  margin: 0;
  transition: background 0.2s;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 400;
  flex: 1; /* Ensure each p tag takes up equal space */
  padding: 10px 20px; /* Added padding for better spacing within p tags */
  text-align: center; /* Center text horizontally */
  border-left: 3px solid #D1E2FF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Adjusted taskBox class */
.inbox_checklist{
  max-width: 1000px;
  
  margin:40px 140px 209px 348px;
  background: white;
  border-radius: 5px;
  border:  #D1E2FF 2px solid;
}

/* .item{
  margin-left: 200px;
} */
