body{
  background-color: rgb(247, 247, 247);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inbox {
  max-width: 1000px;
  margin: 30px auto;
  background: white;
  border-radius: 5px;
  border:  #D1E2FF 2px solid;
}

.divider{
  border: black 3px solid;
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  padding: 10px ; /* Added padding for spacing between items */
}

.item:last-child {
  border-bottom: 0;
}


.box[type="checkbox"] {
  margin-right: 25px;
  font-size: 18px; /* Adjusted margin for checkbox */
}

p {
  margin: 0;
  transition: background 0.2s;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 400;
  flex: 1; /* Ensure each p tag takes up equal space */
  padding: 10px 20px; /* Added padding for better spacing within p tags */
  text-align: center; /* Center text horizontally */
  border-left: 3px solid #809abb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Adjusted taskBox class */
.inbox_checklist{
  max-width: 1000px;
  
  margin:40px 140px 209px 348px;
  background: white;
  border-radius: 5px;
  /* border:  #d4d3d3 2px solid; */
}

/* .item{
  margin-left: 200px;
} */
h5{
  color: #464646;
  padding:5px;
}

.about-us {
  margin: 20px 370px;
  max-width: 900px;
  position: relative;
  top: 28px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.about-us h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 10px;
}

.about-us p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: left;
  margin-left: 20px;
}

.about-us ul {
  list-style-type: disc;
  margin-left: 20px;

  margin-bottom: 15px;
}

.about-us ul li {
  font-size: 20px;
  line-height: 1.5;
  margin-left: 20px;
}

.about-us h2 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}


.about-icon {
  display: block;
  margin: 0 auto;
  margin-top: 20px;

}

.notification-icon {
  position: relative;
  left: 1070px;
  top: 30px;
  align-items: center;
  justify-content: center;
  color: #464646;
 
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
}

.streak-info{
margin-left: 10px;
line-height: 20px;
margin-bottom: 20px;
}

.gradient-button1{
  background: linear-gradient(to right, #4972B5, #2184d6);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px; /* Adjust the border-radius to control the roundness */
  cursor: pointer;
  outline: none; /* Remove the default focus outline */
  transition: background 0.3s;
  margin-left: 90px;
  margin-top: 50px;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 150px;
}

.active {
  font-weight: bold;
}

.active a {
  color: #3a67b0; 
}

.active-icon {
  color: #3a67b0; /* Change this to your preferred active icon color */
}

/* Example: To style the icon within the active li */
li .active-icon {
  color: #3a67b0; /* Change this to your preferred active icon color */
}
